@model IQueryable<Usuario>

@{
    ViewBag.Subtitulo = "Listagem";
    }
   
       <h1 class="text-primary">Usuários</h1>
       <h2 class="text-primary">Usuários Cadastrados: @ViewBag.QntUsuarios</h2>
       <hr>
       <p>
        CRUD PARA ASP.NETCORE
       </p>
       <div class="col-6">
           <a asp-action="Cadastrar" asp-controller="Home" class="btn btn-success">Cadastrar</a>
           <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Voltar</a>
       </div>
       <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tboby>
        @foreach(var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td><a asp-action="Cadastrar" asp-route-id="@usuario.Id" class="btn btn-secondary">Alterar</a></td>
                <td><a asp-action="Excluir" asp-route-id="@usuario.Id" class="btn btn-danger">Excluir</a></td>
            </tr>
        }
        </tboby>
       </table>
  

